*{
    margin: 0;
    padding: 0;
}

:root {
    --sheet-color1: rgba(255, 255, 255, 1);
    --sheet-color2: rgba(240, 240, 240, 1);
    --sheet-shadow1: rgba(22, 0, 100, 0.45);
    --sheet-shadow2: rgba(22, 0, 100, 0.42);
    --text-color: black;
    /* --text-block-shadow: rgba(18, 50, 109, 0.42); */
    --text-block-shadow: rgba(22, 0, 100, 0.42);
    --gradient-start: rgb(98, 19, 151);
    --gradient-middle: rgb(255, 24, 24);
    --gradient-end: rgb(255, 181, 44);
    --gradient-angle: 45deg;
    --opacity-var: 1;
}

.dark-theme {
    --sheet-color1: rgba(50, 50, 70, 1);
    --sheet-color2: rgba(40, 40, 60, 1);
    --sheet-shadow1: rgba(44, 0, 22, 0.56);
    --sheet-shadow2: rgba(44, 0, 22, 0.54);
    --text-color: rgb(240, 240, 240);
    --text-block-shadow: rgba(8, 2, 41, 0.64);
    --gradient-start: rgb(27, 0, 71);
    --gradient-middle: rgb(47, 0, 155);
    --gradient-end: rgb(8, 247, 255);
    --gradient-angle: 45deg;
    --opacity-var: 0;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: line;
    justify-content: center;
    overflow: hidden;
}

header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background: linear-gradient(
        45deg,
        rgb(49, 0, 114),
        rgb(255, 24, 24),
        rgb(255, 181, 44));
    transition: all 500ms;
    /* border: 2px solid red; */
}
header::before {
    content: "";
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: linear-gradient(
	    -135deg,
	    rgb(49, 0, 114),
	    rgb(0, 4, 236),
	    rgb(8, 177, 255));
    opacity: 0;
	z-index: -1;
	transition: all 500ms;
}
.dark-theme header::before {
	opacity: 1;
}

.top {
    display: flex;
    align-items: center;
    /* border: solid 1px blue; */
}

#dark-mode-toggle {
    margin-top: 140px;
    padding: 20px 40px;
    border: none;
    /* background-color: rgba(0, 0, 0, 0); */
}

.sheet, button {
    margin: 30px;
    opacity: 0.97;
    border-radius: 7px;
    color: var(--text-color);
    background-color: var(--sheet-color1);
    font-family: Roboto, Arial, sans-serif;
    box-shadow: 5px 5px 4px var(--sheet-shadow1);
    transition: all 450ms;
    /* background: var(--sheet-color1); */
    /* border-radius: 16px; */
    /* backdrop-filter: blur(4.6px); */
    /* -webkit-backdrop-filter: blur(4.6px); */
}

#top_section {
    width: 600px;
    height: 170px;
    margin: 30px;
    margin-left: 100px;
    /* border: solid 1px blue; */
}

#bottom_section {
    display: flex;
    flex-direction: line;
    /* border: solid 1px blue; */
}

#left_section {
    width: 700px;
    height: 550px;
    /* border: solid 1px blue; */
}

#right_section {
    width: 350px;
    height: 700px;
    /* border: solid 1px blue; */
}

/* .decoration {
    width: 380px;
    height: 100%;
    display: grid;
    border: solid 1px blue;
} */

/* #left_deco {
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 2fr 1fr 4fr;
    margin-left: auto;
} */

/* #right_deco {
    margin-right: auto;
} */

/* .deco_item {
    border: solid 1px lightblue;
} */

/* #n2 {
    border: solid 2px rgba(250, 250, 250, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(7px);
    background-color: rgba(250, 250, 250, 0.1);
    box-shadow: 5px 5px 10px var(--sheet-shadow1);
} */

.text_block {
    margin: 10px;
    padding: 10px;
    background-color: var(--sheet-color2);
    border-radius: 4px;
    transition: all 350ms;
    /* border: solid 1px red; */
}

h3 {
    font-weight: 900;
    font-size: 19px;
    line-height: 15px;
    padding-bottom: 10px;
    /* border: solid 1px blue; */
}

p {
    font-weight: 100;
    font-size: 15px;
    padding: 10px 0px 10px 10px;
    background-color: var(--sheet-color1);
    border-radius: 3px;
    /* border: solid 1px green; */
}

.sheet:hover, button:hover {
    position: relative;
    opacity: 1;
    transform: translateX(-14px) translateY(-14px);
    box-shadow: 44px 44px 35px var(--sheet-shadow2);
    transition: all 350ms;
}

button:hover {
    cursor: pointer;
}

.text_block:hover{
    position: relative;
    transform: translateX(-16px) translateY(-16px);
    box-shadow: 16px 16px 12px var(--text-block-shadow);
    transition: all 350ms;
}

button:active {
    position: relative;
    transform: translateX(-8px) translateY(-8px);
    box-shadow: 38px 38px 28px var(--sheet-shadow2);
    transition: all 50ms;
}

/* p::hover{
    position: relative;
    transform: translateX(-8px) translateY(-8px);
    box-shadow: 8px 8px 6px rgba(37, 62, 105, 0.42);
    transition: all 350ms;
} */

